body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


/* Header */

.container-header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-inner {
    width: 1110px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 150px;
}


/* Nav*/

.nav {
    font-size: 14px;
    display: flex;
}

.nav-link {
    margin-left: 46px;
    color: white;
    text-decoration: none;
    opacity: 0.69;
    transition: 0.2s linear;
}

.nav-link:hover {
    opacity: 1;
    text-decoration: underline;
}

.nav-link:first-child {
    margin-left: 0px;
}


/* Intro*/

.intro {
    height: 642px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/img/pic/axit_background.png) center no-repeat;
    background-size: cover;
    padding-top: 182px;
    flex-direction: column;
    text-align: left;
}

.intro-inner {
    margin-left: 150px;
    max-width: 520px;
    width: 100%;
}

.intro-title {
    margin-top: 33px;
    margin: 33px 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
}

.intro-line {
    height: 36px;
    width: 76px;
    border-bottom: 1px solid white;
    transform: scale(1);
}

.intro-line:hover {
    transform: scale(2, 1);
}

.intro-text {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    opacity: 0.8;
    text-align: left;
    margin-top: 30px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 32px;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    margin-top: 44px;
}


/* Intro*/

.social {
    height: 106px;
    margin: 0;
    text-align: left;
}

.container-social {
    max-width: 1400px;
    width: 100%;
    margin-top: 23px;
    border-bottom: 2px solid #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-title h3 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
}

.social-text {
    width: 100%;
    max-width: 360px;
    font-size: 14px;
    margin-top: 12px;
    color: #c3c3c5;
    margin-left: 150px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 167px;
}

.social-item {
    display: inline-block;
    color: #cccccc;
    margin: 30px 20px;
    text-decoration: none;
    font-size: 30px;
}


/* Awesome */

.awesome-title h2 {
    margin-top: 107px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.awesome-title:after {
    display: block;
    content: '';
    width: 64px;
    height: 2px;
    margin: 30px auto;
    background-color: orange;
}

.container p {
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
}

.awesome-cards {
    display: flex;
    margin: 80px auto;
    width: 100%;
}

.awesome-icon-light {
    width: 74px;
    height: 74px;
    margin: 0 auto;
    border: 2px solid orange;
    border-radius: 50%;
    justify-content: space-between;
}

.awesome-icon-light img {
    width: 25px;
    margin: 21px 25px;
}

.awesome-icon-keyboard {
    width: 74px;
    height: 74px;
    margin: 0 auto;
    border: 2px solid orange;
    border-radius: 50%;
}

.awesome-icon-keyboard img {
    width: 30px;
    margin: 25px 25px;
}

.awesome-icon-flash {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid orange;
    border-radius: 50%;
}

.awesome-icon-flash img {
    width: 30px;
    margin: 10px 20px;
}

.awesome-icon-title {
    text-align: center;
    margin: 29px 0 25px;
}

.awesome-icon-title h3 {
    font-weight: 600;
    font-size: 20px;
}

.awesome-text {
    display: block;
    margin: 0 25px;
    max-width: 350px;
    text-align: center;
}

.awesome-text p {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
}


/* Section pricing */

.container-2 {
    background-color: #f5f5f5;
    height: 884px;
    width: 100%;
}

.pricing-title {
    padding-top: 104px;
}

.pricing-title h2 {
    font-size: 36px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: black;
    margin: 0;
}

.pricing-title h2:after {
    display: block;
    content: '';
    width: 64px;
    height: 2px;
    margin: 30px auto;
    background-color: orange;
}

.pricing-title p {
    margin-top: 0px;
    font-size: 14px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #e0e0e1;
}

.pricing-table {
    width: 100%;
    max-width: 1109px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.column {
    color: #2f2f2f;
    font-size: 14px;
    width: 343px;
    text-align: center
}

ul {
    list-style: none;
}

.column-header {
    height: 59px;
    background-color: #2f2f2f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.column-price {
    height: 100px;
    background-color: #2f2f2f;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.dollar {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}

.pricing-number {
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    font-weight: 600;
}

.column-sub {
    height: 51px;
    background-color: #2f2f2f;
    color: #919191;
    font-style: italic;
    font-size: 14px;
    border-bottom: 4px solid #ff8c2c;
}

.fourth-li {
    height: 51px;
    background-color: #ff8c2c;
    color: white;
    font-size: 14px;
}

li {
    display: block;
    color: #a4a5a8;
    border-bottom: 0.1px solid rgba(0, 0, 0, .3);
    height: 40px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


/* Section review */

.container_review {
    margin: 0;
    width: 100%;
    max-width: 1400px;
    text-align: center;
    height: 592px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.review_title h2 {
    margin-top: 109px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: lighter;
}

.review_title ::after {
    display: block;
    content: '';
    width: 64px;
    height: 2px;
    margin: 30px auto;
    background-color: orange;
}

.review p {
    margin-top: 30px;
    font-size: 14px;
    color: #e0e0e1;
}

.review_cards {
    margin-top: 76px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.review_cards_item {
    width: 100%;
    max-width: 225px;
    height: 273px;
    display: flex;
    flex-direction: column;
}

.review_cards_text {
    width: 273px;
    height: 147px;
    background-image: url(../img/pic/mind.png);
    padding-left: 10px;
    font-style: italic;
    color: #86878B;
    text-align: left;
    display: flex;
    align-items: center;
}

.review_cards_img {
    width: 70px;
    height: 70px;
    background-image: url(../img/pic/photo.png);
}

.review_cards_name {
    width: 100px;
    position: relative;
    bottom: 50px;
    left: 80px;
}

.review_cards_profession {
    width: 100px;
    position: relative;
    bottom: 40px;
    left: 80px;
    color: #86878B;
}


/* Section portfolio */

.portfolio {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/img/pic/pic1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 322px;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 76px auto 0px;
}

.portfolio-title:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    margin: 26px auto 35px;
    background-color: #ffffff;
}

.portfolio-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    ;
    font-weight: 300;
    opacity: 0.8;
}

.portfolio-button {
    width: 135px;
    height: 42px;
    margin: 33px auto;
}

.portfolio-button a {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: 13px 20px;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
}

.portfolio-button :hover {
    cursor: pointer;
}


/* Section contact */

.contact-title h2 {
    margin-top: 107px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.contact-title:after {
    display: block;
    content: '';
    width: 64px;
    height: 2px;
    margin: 30px auto;
    background-color: orange;
}

.contact-title p {
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
}

.contact-bar {
    display: flex;
    flex-direction: row;
}

.contact-ul li {
    border-bottom: none;
}

.contact-input-li {
    padding-top: 28px;
    width: 500px;
}

.contact-input {
    font-size: 15px;
    font-family: 'Open sans', sans-serif;
    border: none;
    border-bottom: solid 1px #BEBEBE;
    line-height: 1.9;
    opacity: 0.8;
    outline: none
}

.contact-input:hover {
    border-bottom: solid 1px #FF9B51;
    transition-duration: 0.5s;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea {
    padding-top: 35px;
    font-size: 15px;
    font-family: 'Open sans', sans-serif;
    border: none;
    border-bottom: solid 1px #BEBEBE;
    opacity: 0.8;
    width: 500px;
    outline: none
}

.contact-message {
    margin-left: 80px;
}

.send-ref {
    padding: 12px 20px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    background-color: #FF9B51;
    text-decoration: none;
}

.contact-but {
    margin-top: 60px;
    margin-bottom: 80px;
}

.send-ref:hover {
    color: #FF9B51;
    background-color: #333333;
    border-radius: 2px;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3A2F28;
    transition-duration: 0.3s;
}


/* Footer */

.footer {
    display: flex;
    width: 100%;
    height: 101px;
    background-color: #000000;
}

.footer-container {
    margin: auto
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 0;
}

.footer-item {
    display: inline-block;
    vertical-align: top;
    color: white;
    margin: 15px 14px;
    text-decoration: none;
}

.footer-text {
    text-align: center;
    margin: 10px auto 0;
}

.footer-text p {
    font-weight: 200;
    font-size: 12px;
    color: white;
    opacity: 0.8;
}